/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 230px;
}

nav li a {
    text-decoration: none;
    font-size: 20px
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

/* Shared Style */

.secondary-bg {
    background-color: #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;;
}

.dark-3 {
    color: #757575
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.text-center {
    text-align: center;
}

/* Banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content {
    max-width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
}

.banner-description {
    font-size: 18px;
}

.banner-profile-pic {
    width: 580px;
}

/* header style */
.header {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Body Style */
.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

/* Main Styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* About Styles */
.about {
    border-radius: 10px;;
    padding: 130px 150px;;
    text-align: center;
}

.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.about-item{
    font-size: 20px;
    color: #757575;
}

.item-description {
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}

/* Skills section */

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills-description{
    margin-left: 115px;
    margin-right: 115px;
    margin-bottom: 50px;;
}

/* Resume Style */
.resume-title{
    margin-bottom: 113px;
}
.resume-container {
    display: flex;
    gap: 24px;
}

.resume-column-title{
    color: #474747;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0px;
}

.experience-title{
    color: #474747;
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.experience-sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.experience-description {
    color: #757575;
    font-size: 16px;
}

.resume hr{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-download-btn-container {
    margin-top: 50px;
}

/* Footer Styles */
.footer {
    display: flex;
    gap: 117px;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 100px;
    max-width: 1140px;
    margin: auto;
}

.footer-column {
    width: 50%;
}

.contact input[type = "text"], input[type = "email"], textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    border: 0;
    background: #fff;
    font-size: 16px;
    width: 100%;
}

.social-links a{
    margin-right: 24px;
}
